@font-face {
    font-family: 'Barlow';
    src: url(./fonts/Barlow-Light.ttf) format('truetype');
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Barlow';
    overflow: auto;
}

*::-webkit-scrollbar {
    display: none;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url(./images/restaurant-image-4.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#content {
    width: 60%;
    margin: 5vh auto;
    background-color: lightgoldenrodyellow;
    color: darkslategrey;
    border: lightslategray 2px solid;
    border-radius: 16px;
}

#content h1 {
    font-size: calc((3vw + 5vh) / 2);
    text-align: center;
    margin: 16px auto;
    width: 80%;
}

#content h2 {
    font-size: calc((3vw + 5vh) / 3);
    text-align: center;
    margin: 16px auto;
    width: 80%;
}

#content h4 {
    font-size: calc(calc(3vw + 5vh) / 4);
    text-align: center;
    margin: 16px auto;
    width: 80%;
}

#content p {
    font-size: calc(calc(3vw + 5vh) / 6);
    text-align: center;
    margin: 16px auto;
    width: 80%;
}

#navigation-bar {
    position: sticky;
    top: 0px;
    width: 60%;
    height: 10vh;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}

#navigation-bar>button {
    width: calc(100% / 3);
    background-color: lightgoldenrodyellow;
    font-size: calc(calc(3vw + 5vh) / 3);
    border: lightslategray 2px solid;
    border-radius: 16px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#navigation-bar>button.selected {
    background-color: slategray;
}

div.dish {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div.left-column {
    width: 70%;
}

div.left-column>h4#name {
    text-align: left;
    margin: 8px 16px;
}

div.left-column>p#description {
    text-align: left;
    margin: 8px 16px;
}

div.right-column {
    width: 30%;
    align-self: center;
}